body{
    background-image: url(./img/hexside.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

 
 forms {
    font-family: initial;
 }

 textarea {
    resize: none
 }

 fieldset {
    width: 500px;
 }

.formularariocentral {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

h1 {
    color: rgb(0, 0, 0);
}

h2,
h3 {
    font-family: Impact;
}

body {
    text-align: center;
}

